* {
  font-family: 'Roboto Mono', monospace;
}

nav li {
  display: inline-block;  
  margin: auto;
}


a {
  text-decoration: none;
}

nav a {
  /* color: #CA3C25FF */;
  color: #84BCDAff
}

nav a:hover {
  color: #84BCDAfa
}

a:hover {
  opacity: 0.5;
}

.img-container {
  position: relative;
  display: inline-block;
}

.img-container:hover #static {
  opacity: 0;
}

.img-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: 'Alegreya Sans SC', sans-serif;
}

#defender_container .overlay img {
  position: absolute;
  top: 5%;
  left: 10%;
}

#defender_container .overlay #appTitle {
  position: absolute;
  top: 28%;
  left: 38%;
  font-size: 5vmax;
  font-family: 'Alegreya Sans SC', sans-serif;
}

#defender_container .overlay p {
  position: absolute;
  top: 45%;
  left: 38.25%;
  font-size: 1.25vmax;
  font-family: 'Alegreya Sans SC', sans-serif;
}

#defender_container .overlay button {
  position: absolute;
  top: 57.5%;
  left: 38.25%;
  font-size: 1.25vmax;
  font-family: 'Alegreya Sans SC', sans-serif;
}

#facematch_container .overlay img {
  position: absolute;
  top: 5%;
  left: 10%;
}

#facematch_container .overlay #appTitle {
  position: absolute;
  top: 4%;
  left: 38%;
  font-size: 5vmax;
  font-family: 'Alegreya Sans SC', sans-serif;
}

#facematch_container .overlay p {
  position: absolute;
  top: 21%;
  left: 38.25%;
  font-size: 1.25vmax;
  font-family: 'Alegreya Sans SC', sans-serif;
}

#facematch_container .overlay button {
  position: absolute;
  top: 34.5%;
  left: 38.25%;
  font-size: 1.25vmax;
  font-family: 'Alegreya Sans SC', sans-serif;
}

#snake_container .overlay img {
  position: absolute;
  top: 14%;
  left: 8%;
}

#snake_container .overlay #appTitle {
  position: absolute;
  top: 12%;
  left: 53%;
  font-size: 5vmax;
  font-family: 'Alegreya Sans SC', sans-serif;
}

#snake_container .overlay p {
  position: absolute;
  top: 29%;
  left: 53.25%;
  font-size: 1.25vmax;
  font-family: 'Alegreya Sans SC', sans-serif;
}

#snake_container .overlay button {
  position: absolute;
  top: 41.5%;
  left: 53.25%;
  font-size: 1.25vmax;
  font-family: 'Alegreya Sans SC', sans-serif;
}
